REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: 001
Description: The system shall provide a unique identifier for each ticket sold.
Type: Functional
Rationale: When a ticket is returned, the customer has to provide an identifier which unambiguously identifies a ticket.
Originator: Business developer

REQ-ID: 002
Description: The system shall be able to locate the owner of any sold ticket.
Type: Functional
Rationale: When a ticket is returned, the system has to check if the customer returning the ticket actually owns the ticket.
Originator: Business developer

REQ-ID: 003
Description: Returned tickets shall be released in a controlled manner once per day by a manual process.
Type: Functional
Rationale: Examination of ticket returns is necessary to protect from fraud.
Originator: Geoff Riley

REQ-ID: 004
Description: The system shall not issue a ticket if an event has reached capacuty.
Type: Functional
Rationale: When an event has sold out no more tickets can be sold (unless tickets are returned first).
Originator: Geoff Riley

REQ-ID: 005
Description: The system shall provide a unique identifier for each registered customer.
Type: Functional
Rationale: Clients and their preferences need to be tracked in order to facilitate suggested events in the future.
Originator: Žiga Vurkeljc

REQ-ID: 006
Description: The system shall record every transaction a given customer makes.
Type: Functional
Rationale: A full purchase/refund history is necessary in order to facilitate customer management and future purchase suggestions.
Originator: Žiga Vurkeljc