REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: 001
Description: The system shall provide a unique identifier for each ticket sold.
Type: Functional, technological requirement
Rationale: When a ticket is returned, the customer has to provide an identifier which unambiguously identifies a ticket.
Originator: Leslie Patterson - Business developer

REQ-ID: 002
Description: The system shall be able to locate the owner of any sold ticket.
Type: Functional, business requirement
Rationale: When a ticket is returned, the system has to check if the customer returning the ticket actually owns the ticket.
Originator: Leslie Patterson - Business developer

REQ-ID: 003
Description: Returned tickets shall be released in a controlled manner once per day by a manual process.
Type: Functional
Rationale: Examination of ticket returns is necessary to protect from fraud.
Originator: Edna Everage — Domestic Ticket Sales

REQ-ID: 004
Description: The system shall not issue a ticket if an event has reached capacity.
Type: Functional
Rationale: When an event has sold out no more tickets can be sold (unless tickets are returned first).
Originator: Edna Everage — Domestic Ticket Sales

REQ-ID: 005
Description: The system shall provide a unique identifier for each registered customer.
Type: Functional
Rationale: Clients and their preferences need to be tracked in order to facilitate suggested events in the future.
Originator: Leslie Patterson - Business developer

REQ-ID: 006
Description: The system shall record every transaction a given customer makes.
Type: Functional
Rationale: A full purchase/refund history is necessary in order to facilitate customer management and future purchase suggestions.
Originator: Leslie Patterson - Business developer

REQ-ID: 007
Description: When ticket(s) are returned, the system shall capture the reason for the return
Type: Functional
Rationale: As part of the fraud prevention process, the reasons for ticket returns will be analyzed.
Originator: Edna Everage — Domestic Ticket Sales

REQ-ID: 008
Description: The system shall require the customer to authenticate themselves when returning a ticket
Type: Functional
Rationale: As part of the fraud prevention process, security measures should be in place to prevent tickets being returned by someone other than the customer who purchased them
Originator: Edna Everage — Domestic Ticket Sales

REQ-ID: 009
Description: The system shall check that the returned tickets belong to the customer making the request.
Type: Functional
Rationale: It must be ensured that the provided identifiers of the tickets to be returned really belong to the identified user.
Originator: Barry McKenzie - Lead business analyst

REQ-ID: 010
Description: The system shall notify the user that the tickets have been revoked and a refund made.
Type: Functional
Rationale: The user must be assured of the successful revoking of the tickets and the refund made.
Originator: Barry McKenzie - Lead business analyst

REQ-ID: 011
Description: The system shall display all valid tickets for upcoming events from the identified customer
Type: Functional, technological requirement
Rationale: The customer need to be able to select the tickets he wants to return
Originator: Lesslie Patterson, Business Developer

REQ-ID: 012
Description: The system shall send refund information to the credit card company
Type: Functional, business requirement
Rationale: The customer wants to have his money back
Originator: Lesslie Patterson, Business Developer

REQ-ID: 013
Description: The system shall store all returned tickets within 24h.
Type: Function, business requirement
Rationale: Unallocated tickets need to be reallocated on a daily basis.
Orginator: Edna Everage

REQ-ID: 014
Description: The system shall send the returned tickets of the last 24h to the reallocation system every 24h. 
Type: Function, business requirement
Rationale: The reallocation program needs to know the return tickets. 
Orginator: Barry McKenzie

REQ-ID:015
Description:The product shall send confirmation of cancellation with a reference number 
Type: Functional
Rationale:to be able to give the customers a proof of his/her transaction for future references
Originator: Edna Everage
REQ-ID:016
Description:The product shall display terms & conditions and cancellation policy
Type: Functional
Rationale:to be able to state contractual agreement between customer and interested stakeholders  before proceeding with the transaction in order to avoid fraud
Originator:Edna Everage

REQ-ID: 017
Description:The system shall update records to show previous ownership has been revoked.
Type:Functional
Rationale: To make sure previous owner is unable to claim ownership of revoked tickets.
Originator: Edna Everage

REQ-ID:018
Description: The system shall be able to assign a replacement identifier to a ticket.
Type: Functional
Rationale: To facilitate the transferal of ownership from previous owner to the new owner.
Originator: Edna Everage


REQ-ID: 019
Description: The system shall fairly allocate tickets
Type: Functional, business requirement
Rationale: To be fair and seen as fair  
Originator: Leslie Patterson - Business Developer

REQ-ID: 020
Description: The system shall handle many tens of thousands of connections per hour
Type: Functional
Rationale: To ensure that customers can access the system and that the games do not suffer from the negative publicity associated with failure to access the ticketing system. 
Originator: Leslie Patterson

REQ-ID: 021
Description: The product shall refund the customer the amount originally paid for the tickets returned.
Type: Functional.
Rationale: Ticket prices may change and the customer must not make a profit or loss on their return.
Originator: Anthony Albertyn

REQ-ID: 022
Description: The product shall provide the customer with confirmation that the refund transaction was successful.
Type: Functional
Rationale: The customer needs feedback, for peace if mind, that their refund transaction was successful. 
Originator: Anthony Albertyn

REQ-ID:023
Description: The product shall check that the customer returning ticket(s) was the original purchaser.
Type: Functional.
Rationale: To ensure it is the same customer returning tickets.
Originator: Leslie Patterson

REQ-ID:024
Description: The product shall allow the customer to enter a reason for ticket return(s).
Type: Functional.
Rationale: To understand reasons for ticket returns to detect emerging patterns/fraud.
Originator: Edna Everage

REQ-ID:025
Description: The product shall notify management in case the daily sales exceed in more than 5% the daily revenue targets per venue
Type: Functional
Rationale: To ensure that the management is informed about the risk of exceeding its target
Originator: Edna Everage

REQ-ID:026
Description: The product shall allow the management to mass modify the ticket prices
Type: Functional
Rationale: To allow the management the flexibility to achieve a balance between sales, incomes and accessibility 
Originator: Edna Everage

REQ-ID:027
Description: The customer shall only return tickets he originally has bought
Type: Functional
Rationale: The fee paid by the customer can only be reversed to the credit card originally used to prevent fraud. 
Originator:  Barry McKenzie

REQ-ID:028
Description: The customer can also return partly tickets. For example a customer has bought 5 tickets of one event and should be able to return any quantity. 
Type: Functional
Rationale: The returned ticket Use Case is introduced to prevent fraud. In case a group wanted to join an event but one participant is sick the ticket should be returned. This would reduce the sale of ticket at the games and would prevent unwanted high ticket prices.
Originator: Barry McKenzie